<div uni-grid="{cols:[2,4]}">
    <label ng-show="_evento === 'editar'" i18n="fecha">Fecha</label>
    <span ng-show="_evento === 'editar'">{{_pedidoItem.fecha|date:'dd/MM/yyyy'}}</span> <br>
    <label i18n="description">Descripci&oacute;n</label>
    <textarea col="10" maxlength="500" ng-model="_pedidoItem.descripcion" required>
    </textarea>
</div><br>
<fieldset uni-panel="{level:'info'}">
    <legend>
        Productos
    </legend>
    <table uni-table="">
        <thead>
            <tr>
                <th width="">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr uni-plus="" value="_pedidoItem.listProducto" clon="data.productoClon" fn-onremove="action.fnOnremove" fn-onadd="action.fnOnadd" var="node">
                <td>
                    <select ng-model="node.idProducto"
                            uni-option="data.listProducto"
                            uni-select=""
                            name="idProducto{{$index}}"
                            uni-convert="{type:'number'}"
                            required>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>

